<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about</title>
</head>
<body>
    <h1 style="background-color: wheat; font-weight: 100; margin-top: 0%;">halo guys</h1>
    <h1 style="margin: 8;">about</h1>
    <h1>faik firmansyah</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Pariatur nulla nobis reiciendis sunt magnam minima aliquid, possimus odit quia deserunt corrupti eaque laboriosam et illo. Facere non vero fugiat tenetur.</p>
    <a href="/home">home</a>
    <a href="/about">about</a>
    <a href="/project">project</a>
</body>
</html>